xsde/tests/cxx/hybrid/compositor/includee.xsd

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	    xmlns:t="test"
            targetNamespace="test">

  <complexType name="member">
    <choice>
      <element name="a" type="int" minOccurs="0"/>
      <element name="b" type="string"/>
      <element name="c" type="boolean"/>
    </choice>
  </complexType>

</schema>
