xsde/tests/cxx/hybrid/reorder/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="container">
    <sequence>
      <element name="c" type="t:member"/>
      <element name="d" type="t:member" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="member">
    <sequence>
      <element name="a" type="int" minOccurs="0"/>
      <element name="b" type="boolean"/>
    </sequence>
  </complexType>

  <simpleType name="list">
    <list itemType="t:item"/>
  </simpleType>

  <simpleType name="item">
    <restriction base="int"/>
  </simpleType>

</schema>
