libxsd-frontend/tests/schema/attribute-group/test-001.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <!-- AnyAttribute in attribute groups. -->

  <complexType name="type">
    <attributeGroup ref="t:g1"/>
    <attributeGroup ref="t:g2"/>
  </complexType>

  <attributeGroup name="g1">
    <anyAttribute namespace="http://www.foo.com"/>
  </attributeGroup>

  <attributeGroup name="g2">
    <attribute name="foo" type="string"/>
    <anyAttribute namespace="http://www.bar.com"/>
  </attributeGroup>

</schema>
